
@import "tailwindcss";

@font-face {
  font-family: "Montserrat Alternates";
  src: url("/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@theme {
  --font-montserrat: "Montserrat Alternates", sans-serif;
  --animate-fade-in: fadeIn 0.5s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night;
}

/* Global styles */
/* @layer base {
  html {
    font-family: var(--font-montserrat);
  }
} */